body {
    margin: 0;
    font-size: 16px;
    color: white;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #1B244A;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    margin-top: 40px;
    border-radius: 40px;
    border: 5px grey solid;
    

}

h1 {
    font-size: 2rem;
    color: white;
}


.sides h3 {
    text-align: center;
    font-size: 1.5rem;

}

.container div * {
    margin-bottom: 10px;
}

.score {
    background-color: black;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 3rem;
    padding: 10px;
    text-align: right;
    color: #F94F6D;
}


.button-container {
    width: 100%;
    column-gap: 10px;
}


button {
    font-size: 0.6rem;
    font-family: 'Cursed Timer ULiL', sans-serif;
    border: 1px solid white;
    background-color: transparent;
    padding: 10px 8px;
    color: white;
    font-weight: bold;
    margin-bottom: 5px;
    border-radius: 5px;
    
}